target/*
.idea/*
project/project/*
project/target/*
*.db
out/*
.DS_Store
*.log

# compiled output
src/main/resources/frontend/dist
src/main/resources/frontend/dist
src/main/resources/frontend/dist
src/main/resources/frontend/dist-server
src/main/resources/frontend/dist-server
src/main/resources/frontend/dist-server
src/main/resources/frontend/tmp
src/main/resources/frontend/tmp
src/main/resources/frontend/tmp
src/main/resources/frontend/out-tsc
src/main/resources/frontend/out-tsc
src/main/resources/frontend/out-tsc

# dependencies
src/main/resources/frontend/node_modules/*
src/main/resources/frontend/node_modules/*
src/main/resources/frontend/node_modules/*

# IDEs and editors
src/main/resources/frontend/.project
src/main/resources/frontend/.project
src/main/resources/frontend/.project
src/main/resources/frontend/.classpath
src/main/resources/frontend/.classpath
src/main/resources/frontend/.classpath
src/main/resources/frontend/.c9/
src/main/resources/frontend/.c9/
src/main/resources/frontend/.c9/
src/main/resources/frontend/*.launch
src/main/resources/frontend/*.launch
src/main/resources/frontend/*.launch
src/main/resources/frontend/.settings/
src/main/resources/frontend/.settings/
src/main/resources/frontend/.settings/
src/main/resources/frontend/*.sublime-workspace
src/main/resources/frontend/*.sublime-workspace
src/main/resources/frontend/*.sublime-workspace

# misc
src/main/resources/frontend//.sass-cache
src/main/resources/frontend//.sass-cache
src/main/resources/frontend//.sass-cache
src/main/resources/frontend//connect.lock
src/main/resources/frontend//connect.lock
src/main/resources/frontend//connect.lock
src/main/resources/frontend//coverage
src/main/resources/frontend//coverage
src/main/resources/frontend//coverage
src/main/resources/frontend//libpeerconnection.log
src/main/resources/frontend//libpeerconnection.log
src/main/resources/frontend//libpeerconnection.log
src/main/resources/frontend/npm-debug.log
src/main/resources/frontend/npm-debug.log
src/main/resources/frontend/npm-debug.log
src/main/resources/frontend/yarn-error.log
src/main/resources/frontend/yarn-error.log
src/main/resources/frontend/yarn-error.log
src/main/resources/frontend/testem.log
src/main/resources/frontend/testem.log
src/main/resources/frontend/testem.log
src/main/resources/frontend//typings
src/main/resources/frontend//typings
src/main/resources/frontend//typings

# e2e
src/main/resources/frontend//e2e/*.js
src/main/resources/frontend//e2e/*.js
src/main/resources/frontend//e2e/*.js
src/main/resources/frontend//e2e/*.map
src/main/resources/frontend//e2e/*.map
src/main/resources/frontend//e2e/*.map

# System Files
src/main/resources/frontend/.DS_Store
src/main/resources/frontend/.DS_Store
src/main/resources/frontend/.DS_Store

