<!-- <div id="sidebar">
  <ul>
    <li routerLink="/sources" class="sidebar-item">
      <p class="sidebar-item-icon"><i class="fa fa-database fa-3x"></i></p>
      <p class="sidebar-item-title">SOURCES</p>
    </li>
    <li routerLink="/alerts" class="sidebar-item">
      <p class="sidebar-item-icon"><i class="fa fa-envelope-open fa-3x"></i></p>
      <p class="sidebar-item-title">ALERTS</p>
    </li>
    <li routerLink="/reports" class="sidebar-item">
      <p class="sidebar-item-icon"><i class="fa fa-pie-chart fa-3x"></i></p>
      <p class="sidebar-item-title">REPORTS</p>
    </li>
    <li routerLink="/settings" class="sidebar-item">
      <p class="sidebar-item-icon"><i class="fa fa-cogs fa-3x"></i></p>
      <p class="sidebar-item-title">SETTINGS</p>
    </li>
  </ul>
</div> -->
<div id="sidebar">
  <aside class="menu">
    <ul class="menu-list">
      <li routerLink="/sources" class="sidebar-item">
        <p class="sidebar-item-icon"><i class="fa fa-database fa-3x"></i></p>
        <p class="sidebar-item-title">SOURCES</p>
      </li>
      <li routerLink="/alerts" class="sidebar-item">
        <p class="sidebar-item-icon"><i class="fa fa-envelope-open fa-3x"></i></p>
        <p class="sidebar-item-title">ALERTS</p>
      </li>
      <li routerLink="/reports" class="sidebar-item">
        <p class="sidebar-item-icon"><i class="fa fa-pie-chart fa-3x"></i></p>
        <p class="sidebar-item-title">REPORTS</p>
      </li>
      <li routerLink="/settings" class="sidebar-item">
        <p class="sidebar-item-icon"><i class="fa fa-cogs fa-3x"></i></p>
        <p class="sidebar-item-title">SETTINGS</p>
      </li>
    </ul>
  </aside>
</div>
