$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~bulma/bulma';
@import "~font-awesome/scss/font-awesome.scss";

.has-border-left{
  border-left: 1px solid #eee;
}

.has-100vh{
  height: 100vh;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa {
  margin-right: 0.25rem !important;
}
